*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.2rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.45;
  display: flex;
  flex-direction: column;
  max-width: 1280px;
  margin: auto;
  padding: 8px;
}

.u-hiddenWording {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.frogger__canvasWrapper {
  position: relative;
  width: 100%;
  text-align: center;
}

.frogger__canvasWrapper.is-hidden {
  display: none;
}

canvas {
  width: 100%;
  max-width: 600px;
}

.frogger__header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.frogger__score {
  width: 100%;
  margin: 0 0 16px;
  font-size: 2rem;
  text-align: center;
}

.frogger__life {
  width: 25px;
  margin: 0 2px;
}

.frogger__reset {
  font-size: 2rem;
  border: 0;
  background-color: #4c67ff;
  text-decoration: none;
  cursor: pointer;
  color: white;
  border-radius: 4px;
  transition: background-color .3s;
}

.frogger__reset:hover,
.frogger__reset:focus {
  background-color: #2f4182;
}

.frogger__text {
  margin: 0;
  font-size: 2rem;
}

/*======================================----------------------------- Characters selection */
.frogger__charsList {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.frogger__charsList.is-hidden {
  display: none;
}

.frogger__charsList__element {
  display: flex;
  list-style: none;
  margin-bottom: 16px;
}

.frogger__charsList__element__selector {
  border: 0;
  background-color: #4c67ff;
  text-decoration: none;
  cursor: pointer;
}

.frogger__charsList__element__image {
  width: 60px;
}

.frogger__charsList__element__desc {
  padding: 8px;
  margin: 0;
  font-size: 16px;
}

/*======================================----------------------------- Mobile controls */
.frogger__controls {
  position: absolute;
  bottom: 32px;
  right: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.frogger__controls__element {
  list-style: none;
  text-align: center;
}

.frogger__controls__element--up,
.frogger__controls__element--down {
  width: 100%;
}
.frogger__controls__element--right,
.frogger__controls__element--left {
  width: 50%;
}

.frogger__controls__btn {
  position: relative;
  width: 45px;
  height: 45px;
  font-size: 3rem;
  border-radius: 50%;
  background-color: rgba(256, 256, 256, .4);
}

.frogger__controls__btn::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.frogger__controls__element--up .frogger__controls__btn::before {
  content: '▲';
}

.frogger__controls__element--right .frogger__controls__btn::before {
  content: '▶';
}

.frogger__controls__element--down .frogger__controls__btn::before {
  content: '▼';
}

.frogger__controls__element--left .frogger__controls__btn::before {
  content: '◀';
}

/*======================================----------------------------- Media queries */
@media (min-width: 640px) {
  .frogger__controls {
    display: none;
  }
}